body {
    background-color: #02001d;
    color: #dcdcdc;
}

a {
    color: #eadc00;
}

.menu {
    padding-bottom: 20px;
}

hr {
    border-top: 1px solid #eadc00;
}

.img-responsive {
    display: inline;
}